@import 'tailwindcss';

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

* {
  @apply transition-colors duration-200;
}
